<?xml version="1.0" encoding="utf-8"?>
<!-- DispatcherServlet Context: defines this servlet's request-processing
        infrastructure -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <context:property-placeholder location="classpath:application.properties" />

    <!-- 测试环境数据库1 -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true" />
        <property name="username" value="root" />
        <property name="password" value="123456" />
    </bean>
    <!-- 测试环境数据库2 -->
    <bean id="dataSource2"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <!-- 配置数据源,加载配置,也就是dataSource -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!--mybatis的配置文件-->
        <!--扫描 XXXmapper.xml映射文件,配置扫描的路径-->
        <!-- <property name="mapperLocations" value="classpath:com/javafeng/mapping/*.xml"></property>
        <property name="mapperLocations" value="classpath:com/inspur/NSRZCXXGR/mapping/*.xml"></property> -->
        <property name="mapperLocations">
            <array>
                <value>classpath:mapper/Mapper_*.xml</value>
            </array>
        </property>
    </bean>

    <!-- DAO接口所在包名，Spring会自动查找之中的类 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.web.example.springcloud.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

</beans>